@font-face {
    font-family: 'Chunk Five Regular';
    src: url('../fontes/chunkfive-regular.otf') format('opentype');
}

:root {
    --cor1: #020558;
    --cor2: rgba(17, 0, 255, 0.85);
    --cor3: #4b38f7;
    --cor4: #7478d6;
    --cor5: #7fc8ed;
    --cor6: #B552F2;
    --cor7: yellow;
    --cor8: rgba(94, 1, 1, 0.85);
    --cor9: rgb(165, 1, 1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor5);
}

h1 {
    font-family: 'Chunk Five Regular';
    font-size: 40px;
    background-image: linear-gradient(to right, var(--cor3), var(--cor7), rgb(243, 39, 39));
    color: var(--cor8);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 20px;
}

.yeshua1 {
    color: var(--cor1);
    text-shadow: 3px 3px 6px rgba(134, 134, 238, 0.6);
    text-decoration: underline;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.rei {
    color: rgb(2, 71, 2);
    text-shadow: 3px 3px 6px rgba(3, 252, 3, 0.6);
    text-decoration: underline;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

h2 {
    background-color: var(--cor4);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
    margin: 0 13px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.subtitulo {
    color: var(--cor1);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 3px 3px 6px rgba(0, 0, 255, 0.6);
}

.yeshua2 {
    color: var(--cor1);
    text-shadow: 3px 3px 6px rgba(59, 59, 243, 0.6);
    text-decoration: underline;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

main {
    background-color: lightgray;
    color: black;
    position: relative;
    margin: 10px 13px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px 10px 10px 10px;
    text-align: center;
}

.explicacao1 {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/13/12/cloudy-1869753_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: yellow;
    text-align: center;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 23px;
    padding-right: 23px;
}

.parentese {
    font-weight: normal;
}

.explicacao2 {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/29/09/53/abstract-1780277_640.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: yellow;
    text-align: justify;
    text-indent: 28px;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 23px;
    padding-right: 23px;
}

.str {
    margin-bottom: 20px;
}

.div {
    padding-bottom: 47px;
}

.yeshua3 {
    color: var(--cor8);
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(250, 52, 52, 0.6);
    text-decoration: underline;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

p {
    font-size: large;
    margin-top: 15px;
    margin-bottom: 8px;
    line-height: 27px;
}

.aux {
    margin-bottom: 10px;
    width: 98%;
    height: 98%;
}

.aux2 {
    margin-bottom: 11px;
}

.loc {
    color: var(--cor1);
    margin: 20px;
    margin-top: 12px;
}

img {
    width: 210px;
    height: 136.5px;
    margin-bottom: -2px;
}

hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

.hor-line {
    margin-top: 32px;
    margin-bottom: 20px;
}

.hor-line-2 {
    margin-top: 12px;
    margin-bottom: 28px;
}

.links {
    background-image: linear-gradient(to right, var(--cor1), var(--cor8));
    color: white;
    margin: 3px 0 21px 0;
    font-weight: bold;
    text-decoration: underline;
}

a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    text-decoration: underline;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 8px;
}

a:active {
    background-color: var(--cor4);
    color: var(--cor8);
    text-decoration: underline;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 8px;
}

a:visited {
    color: var(--cor8);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 7px;
}

a::after {
    content: '\00A0\1F517';
}

.info {
    color: black;
    font-weight: bold;
}

footer > p {
    background-color: black;
    color: var(--cor7);
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
}

.rodape {
    line-height: 20px;
}